[Interface]
Address    = 10.8.0.2/24
PrivateKey = <LAPTOP_PRIVATE_KEY>

[Peer]
PublicKey           = <SERVER_PUBLIC_KEY>
Endpoint            = <SERVER_PUBLIC_IP>:51820
AllowedIPs          = 10.8.0.0/24
PersistentKeepalive = 25
